html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Oswald, sans-serif;
  --black: #1E1E1E;
  --dark: #000;
  --red: #F75047;
  --red-darken: #e04941;
  --white: #fff;
  --yellow: #E2B000;
  --yellow-darken: #d9a901;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: var(--white);
    background: var(--black);
  }
}
