.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  --height: calc(100vh - var(--menu-height));

  height: var(--height);
  margin-top: var(--menu-height);
}

.home__header {
  height: var(--height);
  width: 100vw;

  position: relative;
}

.home__header__image {
  height: 100%;
  width: 100vw;
  object-position: 40% 75%;
  object-fit: cover;
}

.home__header__logo{
  position: absolute;
  top: var(--menu-height);
  left: 0;

  object-position: 40% 50%;
  object-fit: scale-down;
  width: 100vw;
  max-height: var(--height);
}

.home__title {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  text-align: right;
  padding: 50px;

  background: var(--dark);
  background: linear-gradient(0deg, var(--dark) 54%, #545454FF 100%);
}

.home__title__image {
  object-fit: scale-down;
  height: 50vh;
  max-width: 20vw;
}

.home__title_h1 {
  background-color: var(--dark);
  border: var(--white) solid 1px;
  padding: 20px;
}

.home__title__1 {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 7vw;
  font-weight: 400;
  letter-spacing: 0;

  color: var(--red);
}

.home__title__2 {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 7vw;
  font-weight: 400;
  letter-spacing: 0;
}

.home__title__3 {
  font-family: Roboto, sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
}

.home__mixte {
  text-align: center;
  width: 100vw;
}

.home__mixte_h2 {
  padding-top: 20px;
  font-size: 2.3vw;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: uppercase;

  margin-right: 8vw;
  margin-left: 8vw;
}

.home__mixte_p {
  font-family: Libre Franklin, sans-serif;
  font-size: 1em;
  font-weight: 200;

  margin-right: 20vw;
  margin-left: 20vw;

  padding-bottom: 40px;
}