.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  --height: calc(100vh - var(--menu-height));

  height: var(--height);
  margin-top: var(--menu-height);
}

.home__header {
  height: var(--height);
  width: 100vw;

  position: relative;
}

.home__header__image {
  height: 100%;
  width: 100vw;
  object-position: 40% 75%;
  object-fit: cover;
}

.home__header__logo{
  position: absolute;
  top: var(--menu-height);
  left: 0;

  object-position: 40% 50%;
  object-fit: scale-down;
  width: 100vw;
  height: var(--height);
}
